* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
}

.navbar {
  padding: 10px;
}

.section-1 {
  text-align: center;
}

.hex-div {
  margin: 50px auto 20px;
}

.hex-color {
  height: 50px;
  margin: 25px auto 10px;
  position: relative;
  visibility: hidden;
  width: 50px;
}

.error-msg {
  color: red;
  font-size: 0.5rem;
  padding-top: 3px;
  visibility: hidden;
}

.convert {
  background-color: lightblue;
  border: 1px solid white;
  border-radius: 2px;
  display: block;
  margin: 5px auto;
  padding: 3px 5px;
  width: auto;
}

.convert:hover {
  background-color: black;
  color: lightblue;
}

.convert:active {
  opacity: 0.75;
}

.rgb-p {
  visibility: hidden;
}

.rgb-result {
  display: inline-block;
  position: inline-block;
}

.footer {
  font-size: 0.5rem;
  margin-top: 118px;
  padding-bottom: 10px;
  text-align: center;
}

.social {
  font-size: 1rem;
  margin: 5px 3px;
  color: #000;
}
